{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{{ parent() }}
<main>
<!-- section hero -->
<section class="hero">
	<div class="container">
		<div class="row mon-d-flex-between">
			<div class="gauche col-12 col-sm-12 col-md-12 col-lg-6">
				<h1 class="main-titre">Trouvez facilement vos <span>premières missions</span></h1>
				<p class="text-hero">
					Trouve facilement des opportunités de job et stage, ici on n'est pas qu'un simple junior, 
                  on est aussi de petits génies
				</p>
				<div class="container-search">
					<form class="d-flex col-12">
						<input class="form-control me-2 form-resultats" type="search" placeholder="PHP, Vue.js, JavaScript,…" aria-label="Search">
						<button class="btn mon-btn btn-lancer gestion-btn" type="submit">
							<i class="mon-i fas fa-search"></i>
							<span>&nbsp; Lance-toi !</span>
						</button>
					</form>
				</div>
				<div class="container-pastille">
					<a href="/jobs" class="span-langage">PHP</a>
					<a href="/jobs" class="span-langage">JAVASCRIPT</a>
					<a href="/jobs" class="span-langage">SYMFONY</a>
					<a href="/jobs" class="span-langage">VUE.JS</a>
				</div>
			</div>
			<div class="droit col-12 col-sm-12 col-md-12 col-lg-6">
				<img src="assets/images/dev-junior.jpg" alt="développeur juniors" class="img-responsive  image-dev-junior">
			</div>
		</div>
	</div>
</section>

<!-- section explication -->
<section class="explication">
	<div class="container">
		<div class="row">
			<div class="text-center title-section col-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Little genius vous facilite la vie</h2>
				<p class="text-content col-5">
					La procédure est très simple, il suffit de suivre 3 étapes. Un jeu d'enfant !
				</p>
			</div>
		</div>
		<div class="row container-blocs-explication g-5">
			<div class="container-explication col-12 col-md-4 col-lg-4 col-sm-12">
				<img src="/assets/images/ton-profil.svg" alt="start-up 1" class="img-fluid">
				<h3>Créé ton profil</h3>
				<p>
                  Créé gratuitement et facilement ton profil en moins de 5min.
				</p>
			</div>
			<div class="container-explication col-12 col-md-4 col-lg-4 col-sm-12">
				<img src="/assets/images/comp-profil.svg" alt="start-up 1" class="img-fluid">
                <h3>Complète ton profil</h3>
				<p>
					Complète ton profil pour maximiser tes chances le plus tôt possible.
				</p>
			</div>
			<div class="container-explication col-12 col-md-4 col-lg-4 col-sm-12">
				<img src="/assets/images/post-profil.svg" alt="start-up 1" class="img-fluid">
				<h3>Postule en 1 clic</h3>
				<p>
					Une offre te plait ? Rien de plus simple : clique sur postuler, et on s'occupe du reste
				</p>
			</div>
		</div>
	</div>
</section>

<!-- section genius du mois -->
<section class="genius-mois">
	<div class="container">
		<div class="row">
			<div class="text-center title-section col-12">
				<h2>Les genius du mois</h2>
				<p class="text-content col-5">
					Ils viennent de franchir le pas ! Alors n'hésite plus et inscrit toi
				</p>
			</div>
		</div>
		<div class="row container-blocs-genius-mois">
			{% for candidat in candidats %}
				<div class="sous-genius h-100 col-12 col-sm-12 col-md-12 col-lg-2">
					<div class="blocs-genius-mois">
						<img src="uploads/images/{{candidat.photo}}" alt="start-up 1" class="img-fluid">
					</div>
					<h3>{{candidat.name}}</h3>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<!-- section Inscris-toi -->
<section class="explication">
	<div class="container">
		<div class="row">
			<div class="text-center title-section col-12">
				<h2>Abonne-toi en 1 clic</h2><br>
				<p class="text-content col-5">
					Reçois deux fois par semaines des conseils pratiques pour augmenter tes chances de décrocher ton job
				</p>
			</div>
		</div>
		<div class="row">
			<div class="container-abonne col-12 col-sm-12 col-md-12 col-lg-6">
				<div class="container-search">
					<form class="d-flex col-12">
						<input type="email" class="form-control form-resultats" id="exampleFormControlInput1" placeholder="genius@example.com">
						<button class="btn mon-btn btn-lancer gestion-btn" type="submit">
							<i class="far mon-i fa-envelope"></i>
							<span>&nbsp; Abonne-toi !</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}

