{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<!--- LE CONTENU PRINCIPAL -->
    <main class="grand-height mon-d-flex">
        <!-- section connexion -->
        <section class="connexion">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        {% if error %}

	                      <div class="alert alert-danger">
                       {{ error.messageKey|trans(error.messageData, 'security')}}
	                  </div>
                    {% endif %}

                        <form class="formulaire" method="post">
                             
                            <p>
                                <a class="navbar-brand" href="/"><img class="logo" src="./assets/images/logo.svg" alt="Social network"></a> 
                            </p>
                            <h3 class="mb-4">Identifie-toi </h3>
                            <div class="mb-3">
                             <input type="text" value="{{ last_username }}" name="_username" id="_username" required>
                            </div>
                            <div class="mb-3">
                             <input type="password"  name="_password" id="_password" required>
                            </div>
                            <p class="container-envoye">
                                <input type="submit" value="Se connecter">
                            </p>
                            <p class="bas-formulaire"><span>Pas encore inscrit ?</span> • <a href="/candidat"><span>Créer un compte</span></a></p>
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <div class="copyright">
    <p>© Little genius. Tous droits réservés. </p>
    </div>
{% endblock %}
