{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<!--- LE CONTENU PRINCIPAL -->
    <main class="grand-height mon-d-flex">
        <!-- section connexion -->
        <section class="connexion">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        {% if error %}

	                      <div class="alert alert-danger erreur">
                       {{ error.messageKey|trans(error.messageData, 'security')}}
	                  </div>
                    {% endif %}

                        <form class="formulaire" method="post">
                             
                            <p class="mon-d-flex-between">
                                <a class="navbar-brand" href="/"><img class="logo" src="./assets/images/logo.svg" alt="little genius"></a>
                                <h3 class="mb-4">Connexion candidat </h3> 
                            </p>
                            
                            <div class="mb-3">
                             <label for="_username" class="form-label">E-mail</label>
                                <input type="email" value="{{ last_username }}" class="form-control" id="mail"  name="_username" placeholder="genius@gmail.com" minlength="2" require>
                            </div>
                            <div class="mb-3">
                             <label for="_assword" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="_password" placeholder="XXXXXXXXXX" minlength="2" require>
                            </div>
                            <p class="container-envoye">
                                <button type="submit" class="btn mon-btn btn-connexion">Se connecter</button>
                            </p>
                            <p class="bas-formulaire"><span>Pas encore inscrit ?</span> • <a href="/candidat"><span>Créer un compte</span></a></p>
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <div class="copyright">
    <p>© Little genius. Tous droits réservés. </p>
    </div>
{% endblock %}
