{% extends 'base.html.twig' %}

{% block title %}Hello GeniusListController!
{% endblock %}

{% block body %}
{{ parent() }}
<body>
      <main>
        <!-- section hero recherche -->
        <section class="hero-recherche">
          <div class="container">
            <div class="row">
              <div class="centrer-h-recherche col-12 col-sm-12 col-md-12 col-lg-6">
                <h2>Allez les genius !<br> Trouvez votre <span>chance</span>, ici.</h2>
                
                <div class="container-search">
                  <form class="d-flex">
                    <input class="form-control me-2 form-resultats" type="search" placeholder="PHP, Vue.js, JavaScript,…" aria-label="Search">
                    <button class="btn mon-btn btn-lancer" type="submit"><i class="mon-i fas fa-search"></i> &nbsp; Se lancer !</button>
                  </form>
                </div>
             </div>
            </div>
          </div>
        </section>

							<div class="container-search">
								<form class="d-flex col-12">
									<input class="form-control me-2 form-resultats" type="search" placeholder="PHP, Vue.js, JavaScript,…" aria-label="Search">
									<button class="btn mon-btn btn-lancer gestion-btn" type="submit">
										<i class="mon-i fas fa-search"></i>
										<span>&nbsp; Lance-toi !</span>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- section resultats recherche -->
			<section class="resultats-recherche color-title-resultats">
				<div class="container">
					<div class="row">
						<div class="title-section-recherche col-12 col-sm-12 col-md-12 col-lg-12">
							<h5>Nombre total de la recherche</h5>
							<h6>Filtrer</h6>
						</div>
					</div>
				</div>
			</section>
			<section class="resultats-recherche">

				<div class="container">
					<div class="row container-blocs-resultats g-5">

						<div class="container-resultats col-12 col-md-4 col-lg-4 col-sm-12">
							<div class="card ma-card-petite">
								<img src="/assets/images/g1.jpg" alt="start-up 1" class="img-fluid">
								<div class="card-body ma-card-body">
									<h5 class="card-title">Lambert Émilie</h5>
									<h6 class="card-title-petite">Product Manager Junior - H/F</h6>
								</div>
							</div>
						</div>
						<div class="container-resultats col-12 col-md-4 col-lg-4 col-sm-12">
							<div class="card ma-card-petite">
								<img src="/assets/images/g1.jpg" alt="start-up 1" class="img-fluid">
								<div class="card-body ma-card-body">
									<h5 class="card-title">Lambert Émilie</h5>
									<h6 class="card-title-petite">Product Manager Junior - H/F</h6>
								</div>
							</div>
						</div>
						<div class="container-resultats col-12 col-md-4 col-lg-4 col-sm-12">
							<div class="card ma-card-petite">
								<img src="/assets/images/g1.jpg" alt="start-up 1" class="img-fluid">
								<div class="card-body ma-card-body">
									<h5 class="card-title">Lambert Émilie</h5>
									<h6 class="card-title-petite">Product Manager Junior - H/F</h6>
								</div>
							</div>
						</div>
						<div class="container-resultats col-12 col-md-4 col-lg-4 col-sm-12">
							<div class="card ma-card-petite">
								<img src="/assets/images/g1.jpg" alt="start-up 1" class="img-fluid">
								<div class="card-body ma-card-body">
									<h5 class="card-title">Lambert Émilie</h5>
									<h6 class="card-title-petite">Product Manager Junior - H/F</h6>
								</div>
							</div>
						</div>
						<div class="container-resultats col-12 col-md-4 col-lg-4 col-sm-12">
							<div class="card ma-card-petite">
								<img src="/assets/images/g1.jpg" alt="start-up 1" class="img-fluid">
								<div class="card-body ma-card-body">
									<h5 class="card-title">Lambert Émilie</h5>
									<h6 class="card-title-petite">Product Manager Junior - H/F</h6>
								</div>
							</div>
						</div>
						<div class="container-resultats col-12 col-md-4 col-lg-4 col-sm-12">
							<div class="card ma-card-petite">
								<img src="/assets/images/g1.jpg" alt="start-up 1" class="img-fluid">
								<div class="card-body ma-card-body">
									<h5 class="card-title">Lambert Émilie</h5>
									<h6 class="card-title-petite">Product Manager Junior - H/F</h6>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		</main>

		{# {% include "./footer.html.twig" %} #}

</body>
	{% endblock %}
