<!--LE FOOTER-->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
              <a class="navbar-brand" href="#" id="logo">
                <img src="assets/images/logo-blanc.svg"  class="img-fluid" alt="logo blanc lgenius">
              </a>
              <p class="description-footer">
                Lorem ipsum dolor sit amet, ipsum dolor sit consectetur 
              </p>

              <div class="div-social">
                <a class="social-bouton" href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a class="social-bouton" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a class="social-bouton" href="#">
                  <i class="fab fa-instagram-square"></i>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4"> 
              <ul class="footer-ul">
                <span>À PROPOS</span>
                <li>l'Équipe</li>
                <li>Partenariats offres</li>
                <li>Offres de stage</li>
                <li>Nous rejoindre</li>
                <li>Nous rencontrer</li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
              <ul class="footer-ul">
                <span>COMMENT ÇA MARCHE ?</span>
                <li>Offres de stage</li>
                <li>Offres d'emploi</li>
                <li>Partenariats offres</li>
                <li>Nos salons</li>
                <li>Déposer son CV</li>
                <li>FAQ</li>
              </ul>
            </div>
          </div>
        </div>
        
      </footer>
      <div class="copyright">
        <p>© Little genius. Tous droits réservés. </p>
      </div>